<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div
        style="background-image: linear-gradient(101.5deg,rgba(221,91,190,1) 4.7%, rgba(253,96,135,1) 38.2%, rgba(249,172,35,1) 69.2%, rgba(246,249,35,1) 100.2%);"
        class="container-login100"
      >
        <h1 style="font-size: 75px;">SINGLE POINT MULTI SERVER ATTACK</h1>
        <div style="padding-top: 33px;" class="wrap-login100">
          <%if(!currentUser){%>

          <a style="font-size: 75px;" href="http://localhost:3001/signup">SIGN UP</a>

          <a style="font-size: 75px;" href="http://localhost:3001/login">LOGIN</a>

          <%}else{%>

          <!-- <h1>Welcome <%= currentUser.username %></h1> -->

          <a style="font-size: 65px;" href="http://localhost:3001/logout">LOGOUT</a></h1>

          <a style="font-size: 65px;" href="http://localhost:3001/api1">REQUEST ATTACK</a>

          <a style="font-size: 65px;" href="http://localhost:3001/api2">FOLLOW ATTACK</a>

          <%}%>
          <!-- <div class="login100-pic js-tilt" data-tilt>
            <img src="images/img-03.png" alt="IMG" />
          </div> -->
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $('.js-tilt').tilt({
        scale: 1.1
      });
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
  </body>
</html>
